.jumbotron{
    background-color: rgb(59, 21, 199);
    color: black;
    margin-top: 50px;
}

.footer-color{
    padding: 10px 10px 0 10px;
    background-color: rgb(61, 43, 43);
    color: white;
}

.footer-color a{
    color: white;
}

.boxes{
    margin: 50px 0;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;   
    border-radius: 0px; 
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}