@yellow: #e0e00f;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: @yellow;
    color: black;
    margin-top: 50px;
    @include margenes(50px, 0px)
}

.footer-color{
    padding: 10px 10px 0 10px;
    background-color: rgb(61, 43, 43);
    color: white;
    @include margenes(10px, 0px)
}

.footer-color a{
    color: white;
}

.boxes{
    margin: 50px 0;
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px)
}

.btn-reserva{
    width: 100%;   
    border-radius: 0px; 
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}