.jumbotron {
  background-color: #c2c260;
  color: black;
  margin-top: 50px;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer-color {
  padding: 10px 10px 0 10px;
  background-color: #3d2b2b;
  color: #79201c;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-color a {
  color: #3ead12; }

.boxes {
  margin: 50px 0; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
